{% extends 'base.html' %} {% block content %}
<h1>DETAIL</h1>
<hr />

<div id="movie-content">
  <h3>{{movie.title}}</h3>
  <p>{{movie.description}}</p>
</div>
{% if user.is_authenticated %}
<div class="d-flex gap-2">
  <a class="btn btn-primary" href="{% url 'movies:update' movie.pk %}"
    >UPDATE</a
  >
  <form name="test" action="{% url 'movies:delete' movie.pk %}" method="POST">
    {% csrf_token %}
    <input
      onclick="btn_delete_event()"
      type="button"
      value="DELETE"
      class="btn btn-danger"
    />
  </form>
  <a class="btn btn-warning text-white" href="{% url 'movies:index' %}">BACK</a>
</div>
{% endif %}

<script>
  function btn_delete_event() {
    if (confirm("정말 삭제하시겠습니까??") == true) {
      //확인
      var form = document.test;
      form.submit();
    } else {
      //취소
      return;
    }
  }
</script>
{% endblock content %}
