img {
  width: 200px;
}

a {
  color: blue;
}

#content {
  padding: 20px;
}

#delete-form {
  display: inline;
}

#nav {
  text-align: right;
  padding: 10px 30px 10px;
}

#user-hello {
  text-align: right;
  padding-right: 30px;
}

#article-title {
  text-decoration: none;
}

#article-content {
  padding: 20px;
}

.container {
  width: 1280px;
}

.img,
.txt-width {
  width: 100%;
}

.text-hover:hover {
  color: red !important;
}

.formlike, .formlike>div>input {
  margin: 3px 5px;
  font-size: 12px;
}

@keyframes fall {
  from {
  }
  to {
    transform: translateY(98vh);
    opacity: 0;
  }
}
.snowflake {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -10px;
}